body {
    background: radial-gradient(rgba(172, 176, 182, 0.947), rgb(23, 113, 140));
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.idintro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: grey;
    padding: 3%;
}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.texteIntro {
    margin-top: 20%;

}

.menu {
    display: none;
    position: absolute;
}

.more:hover .menu {
    display: block;
}

.more {
    margin-right: 3%;
    height: 40px;
}

.picture {
    width: 300px;
    border-radius: 80%;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background-color: beige;
    border-radius: 10px;
    padding: 20px;
}

button {
    cursor: pointer;
    width: 80px;
    height: 70px;
    border-radius: 90%;

}

img {
    width: 300px;
    border-radius: 80%;
}

li a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

a:hover {
    color: blue;
    background-color: beige;
}