body {
    background: radial-gradient(rgba(172, 176, 182, 0.947), rgb(23, 113, 140));

    margin-top: 0px;
    padding-top: 0%;
}

h1 {
    font-family: 'Courgette';
    font-weight: bold;
    font-size: 130%;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.first {
    grid-row: 1;
    grid-column: 1;

}

.idintro {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-gap: 2px;
    background-color: grey;
    padding: 1%;
    padding-bottom: 14%;
}

#logo {
    grid-row: 2;
    grid-column: 1;
    width: 80px;
    margin-top: 50%;
}

.texteIntro {
    grid-column: 3;
    grid-row: 2;
    margin-top: 10%;
    font-family: 'Courgette';
}

.picture {
    grid-row: 1/ span 2;
    grid-column: 2;
    width: 80px;
    border-radius: 80%;
    margin-top: 20%;
}

footer {
    grid-column: 1/ span 3;
    background-color: beige;
    padding: 20px;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

img {
    width: 300px;
    border-radius: 80%;
}

a {
    text-decoration: none;
}